form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}


.contact-header {
    text-align: center;
    margin: 20px 0; 
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

form button {
    cursor: pointer;
    color: #000;
    margin-top: 15px;
    
    background-color: #fff;
    text-align: center;
    font-family: Dancing Script,cursive;
    font-size: 30px;
    width: 160px;
    height: 50px;
}
    form button:hover {
        font-size: 31px;
        box-shadow: 5px 1px 10px #afafaf;
    }
    form button:active {
        box-shadow: none;
        font-size: 30px;
    }
   
.contact-input {
    width: 230px;
}
.tell-us{
    height: 85px;
}

.comp-info{
    text-align: center;
    margin-top: 10px;
}
a{
    line-height: 25px;
}
.success{
    text-align: center;
    padding: 15px;
    height: 400px;
}
.loading{
    text-align: center;
    height: 400px;
}
.optional{
    margin-right: -5px;
    float: right;
    color: rgb(182, 182, 182);
}
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-container h1 {
    text-align: center;
    font-weight: 500;
}

.contact-input {
    max-width: 100%;
    text-align-last: center;
    min-height: 25px;
}
option {
    width: 100%;
    text-align-last: center;
}

.overflow{
    overflow:hidden;
}

@media (max-width: 468px) {
    .contact-img {
        top: 155px;
    }
}

.img-container h1{
    font-weight:400;
    text-align:center;
}

.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow:hidden;
    clear:both;
}
.contact-Letter {
    background: white;
    max-width: 400px;
    margin: 0 auto;
    border: solid 2px;
   
    padding: 20px;
}
.contact-img {
    z-index: -1;
    min-width:800px;
}
.from-container {
    position: absolute;
}

.package-input {
    margin: 0 5px 10px 5px;
}
/*.img-container {
    background: url("/photos/contactPhoto.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
}*/
