.message{
    margin-top: 10px;
    text-align: center;
}
.message h1{
  font-size: 23px;
}
.message p{
    color: #8a8a8a;
    max-width: 790px;
    margin: 0 auto;
    font-size: 17px;
}
.portfolio-container{
    padding: 0 30px;
}

.portfolio h1{
    padding-top: 20px;
    font-size: 23px; 
    font-family: 'Old Standard TT';
    text-align: center;
}
.highlight-player{
    max-width: 500px;
    margin: 0 auto;
}
