.portfolio-container{
    margin-top: 90px;
}
.portfolio-container h1{
    text-align: center;
    font-weight: 500;
}
.portfolio-container h2{
    padding-top: 10px;
    font-weight: 500;
    text-align: center;
}
.portfolio-container p{
    color: #8a8a8a;
    padding: 0 30px 20px 30px;
    margin: 0 auto;
    font-size: 17px;
}
.highlight-player{
    max-width: 500px;
    margin: 0 auto;
}
.name{
    margin: 10px 0 !important;
    text-align: center;
}
.teaser-text{
    max-width: 860px;
    text-align: center;
}
/**** Video CSS ****/
.vimeo-container{
    max-width: 500px;
    margin: 0 auto;
}
.light-photo{
    height: 155px;
    max-width: 500px;
    display: inline-block;
    position: relative;
    object-fit: cover;
}
.playButton{
    position: absolute;
    color: white;
    z-index: 1;
    font-size: 40px;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
}
.video-preload{
    display: flex;
    justify-content: center;
    align-items: center;
}
iframe{
    width: 100%;
    height: 100%;
}
@media (min-width: 350px){
    iframe{
    height: 250px;
    }
    .light-photo{
        height: 255px;
    }
}
@media (min-width: 650px){
    .highlight-player{
        padding: 0 20px;
        max-width: 800px;
        height: 400px !important;
    }
}