
.logo {
    color: black;
    text-align: center;
    text-decoration: none;
    font-family: 'Old Standard TT';
    padding: 0 20px;
    max-width: 468px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
}

    .logo h1 {
        z-index: 1;
    }

@media (min-width: 650px) {
    .logo img{
      width: 300px;
    }
    .logo {
        margin-top: 10px;
      
    }
}
@media (max-width: 650px) {
    .logo {
        margin-bottom: -50px;
        max-width: 400px;
        font-size: 14px;
    }
      
}
