
.logo {
    color: #292a2c;
    text-align: center;
    text-decoration: none;
    font-family: 'Old Standard TT', serif;
    display: block;
    margin: 0 auto;
    max-width: 400px;
    line-height: 35px;
    font-size: 18px;
}

    .logo h1 {
        z-index: 999;
        margin-bottom: 20px;
        position: relative;
    }

@media (min-width: 650px) {
    .logo img{
      width: 300px;
    }
}
@media (max-width: 650px) {
    .logo {
        font-size: 16px;
        width: 260px;
    }
        .logo h1 {
            margin-bottom: -50px;
        } 
}

@media (max-width: 350px) {
    .logo {
        font-size: 12px;
    }
}
