.packages-container{
    margin-top: 90px;
}
.packages{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 30px;
}
.packages-container h1{
    text-align: center;
    font-weight: 500;
}
.packages h2{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    margin: 10px;
    padding-bottom: 30px;
}
.packages-container ul{
    max-width: 500px;
    padding: 10px 10px 20px 50px;
    margin: 0 auto 10px auto;
}
.every-package{
    text-align: center;
    margin: 30px 0 5px 0;
    font-weight: 500;
}

/* Package BOX */
.packages h3{
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin: 10px;
    color: grey;
}
.package{
    margin-bottom: 10px;
    border: 1px solid black;
    width: 100%;
    text-align: center;
}

.title-bonus{
    margin: 0;
    padding: 0;
}
.bonus{
    font-weight: bold;
    padding: 0 0 5px 0;
    margin: 0;
}
.starting-at{
    padding-top: 30px;
}

/**** UPGRADES OPTIONS ****/
.add-ons{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 30px;
}
.add-on{
    margin-bottom: 10px;
    padding-bottom: 20px;
    border: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Add on price */
.add-on h3{
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    margin: 0;
    color: grey;
}
.add-on p {
    margin: 0px;
    padding: 5px;
}
.add-ons-title{
    text-align: center;
    font-weight: 500;
}
.buttoninContainer{
    display: flex;
}

@media (min-width: 700px){
    .packages{
        flex-direction: row;
        max-width: 800px;
    }
    .package{
        margin: 0 5px 10px 5px;
    }
    
}
